<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Dashboard</title>
  <base href="/">
</head>
<body>
  <h1>Github Users</h1>
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/details/:id" routerLinkActive="active">Details</a>
  </nav>
  <span class="searchBar">
    <input  type="text" class="form-control" name='searchBar' (blur)='fireUserSearch($event)'  placeholder="Search...">
  </span>
  <span>
  </span>
  <app-users *ngIf="router != '/ur_route'" [customRepos]="customRepos" [users]="users"></app-users>
</body>
</html>
<router-outlet></router-outlet>