<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Dashboard</title>
  <base href="/">
</head>
<body>
  <!-- <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/details/:login" routerLinkActive="active">Details</a>
  </nav> -->
  <span>
  </span>
  <app-users (flagChanged)="flagChangedHandler($event)" [flag]="flag" *ngIf="flag" [customRepos]="customRepos" [users]="users"></app-users>
  <app-details-tab (flagChanged)="flagChangedHandler($event)" [flag]="flag" [customRepos]="customRepos" [users]="users" *ngIf="!flag"></app-details-tab>
  <app-edit-tab></app-edit-tab>
</body>
</html>