<span class="searchBar">
    <input  type="text" class="form-control" name='searchBar' (blur)='fireUserSearch($event)'  placeholder="Search ..">
    </span>
<table mat-table class="table table-bordered" style="margin:100;">
    <thead class="thead-dark">
        <tr>
            <th>Avatar</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th># of Repos</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" *ngFor="let repo of customRepos | paginate:{itemsPerPage:10, currentPage:p};" (click)="navigateDetails(repo.login)">
            <td><img height="50" width="50" class="rounded" src={{repo.avatar_url}} alt="" /></td>
            <td>{{repo.login}}</td>
            <td>{{repo.firstName}}</td>
            <td>{{repo.lastName}}</td>
            <td>{{repo.numOfRepos}}</td>
        </tr>
    </tbody>
    <div class="paginate-center" >
        <pagination-controls previousLabel=""  nextLabel="" (pageChange)="p = $event"></pagination-controls>
    </div>
</table>