<button (click)="navigateBack()">Back</button>
<table class="table table-bordered" style="margin:100;">
    <thead class="thead-dark">
        <tr>

            <th>Avatar</th>
            <th>Full Name</th>
            <th>Location</th>
            <th>Organization</th>
            <th>Type</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img height="50" width="50" [src]="githubDetails.avatar_url" alt="" /></td>
            <td>{{githubDetails.fullName}}</td>
            <td>{{githubDetails.location}}</td>
            <td>{{githubDetails.organization}}</td>
            <td>{{githubDetails.type}}</td>           
        </tr>
    </tbody>
</table>