<div class="headerDetails">
    <span class="header">Github '{{githubDetails.firstName}} {{githubDetails.lastName}}' Details</span>
    <span class="button">
        <a (click)="navigateBack()" class="btn btn-primary">Back</a>
    </span>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Avatar</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th># of Repos</th>
            <th>Following</th>
            <th>Location</th>
            <th>Edit Details</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <td><img height="50" width="50" [src]="githubDetails.avatar_url" alt="" /></td>
            <td>{{githubDetails.login}}</td>
            <td>{{githubDetails.firstName}}</td>
            <td>{{githubDetails.lastName}}</td>
            <td>{{githubDetails.numOfRepos}}</td>
            <td>{{githubDetails.following}}</td>
            <td>{{githubDetails.location}}</td>
            <td><a routerLink="edit/:login" (click)="editData()" class="btn btn-primary">Edit</a></td>
        </tr>
    </tbody>
</table>

<div class="formClass" *ngIf="editFlag">
    <form>
        <div class="form-outline">
          <div class="col inputClass">
            <label>Username</label>
            <input [(ngModel)]="githubDetails.login" name="login" type="text" class="form-control" placeholder="Login">
          </div>
          <div class="col inputClass">
            <label>First Name</label>
            <input [(ngModel)]="githubDetails.firstName" name="firstName" type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col inputClass">
            <label>Last Name</label>
            <input [(ngModel)]="githubDetails.lastName" name="lastName" type="text" class="form-control" placeholder="Last Name">
          </div>
          <div class="col inputClass">
            <label>Number Of Repositories</label>
            <input [(ngModel)]="githubDetails.numOfRepos" name="numOfRepos" type="text" class="form-control" placeholder="Repos">
          </div>
          <div class="col inputClass">
            <label>Following</label>
            <input [(ngModel)]="githubDetails.following" name="following" type="text" class="form-control" placeholder="Repos">
          </div>
          <div class="col inputClass">
            <label>Location</label>
            <input [(ngModel)]="githubDetails.location" name="location" type="text" class="form-control" placeholder="Repos">
          </div>
        </div>
        <div class="buttonGrid">
            <!-- Save and Cancel functionality to be added after moving to details component -->
            <span class="button buttonAround">
                <a (click)="navigateBack()" class="btn btn-secondary">Cancel</a>
            </span>
            <span class="button">
                <a (click)="navigateBack()" class="btn btn-primary">Save</a>
            </span>
        </div>
    </form>
</div>